LingsuMVP/Library/
LingsuMVP/Temp/
LingsuMVP/Obj/
LingsuMVP/Logs/
LingsuMVP/UserSettings/
LingsuMVP/Builds/
LingsuMVP/MemoryCaptures/
LingsuMVP/Recordings/

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage
*.bak
*.bak.meta
